# Core packages
torch
transformers
numpy
onnx
onnxruntime

# NVIDIA-specific
nvidia-pyindex
nvidia-tensorrt
tritonclient[all]

# Optional (recommended for development and debugging)
tqdm
ipython
matplotlib
psutil

